/* Role Revert in user modal */
.role_f9575e{ 
  background: transparent;
  border: 1px solid;
  border-radius: 11px;
}

.roleCircle-1EgnFN {
  margin-left: 0;
}

.addButton_e4010c.role_f9575e {
  border-color: #4f545c;
}

.addButtonIcon_e4010c {
  width: 10px;
  height: 10px;
}
.addButtonIcon_e4010c>path {
    d: path('M3 0h1v7H3zM0 3h7v1H0z');
    color: #b9bbbe;
    transform: scale(calc(24 / 7));
}
